<div>
    <ul ngbNav #nav="ngbNav"  class="nav-tabs">
        <li [ngbNavItem]="1">
          <a ngbNavLink routerLink='/survey-designer'>Survey Designer</a>
        </li>
        <li [ngbNavItem]="2">
          <a ngbNavLink routerLink='/survey-renderer'>Survey Renderer</a>
        </li>
        <li [ngbNavItem]="3">
          <a ngbNavLink routerLink='/survey-analytics'>Survey Analytics</a>
        </li>
        <li  [ngbNavItem]="4" style="margin-left: 900px;">
            <a class="nav-link d-flex align-items-center" href="#" id="navbarDropdownMenuLink"
              role="button" data-mdb-toggle="dropdown" aria-expanded="false">
              <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img (31).webp" class="rounded-circle"
                height="22" alt="Avatar" loading="lazy" /><span className ="profile-image">Admin User</span>
            </a> 
        </li>
      </ul>      
</div>
<router-outlet></router-outlet>





